<!-- <footer class="flex-rw">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Encuentranos en:</h3>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d478.1841807569335!2d-68.131469!3d-16.502179!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfbab45ced6f87950!2sGestora%20P%C3%BAblica%20de%20la%20Seguridad%20Social%20de%20Largo%20Plazo!5e0!3m2!1ses!2sbo!4v1637120387116!5m2!1ses!2sbo"
                    class="ubicacion" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


            </div>
            <div class="col-md-6">
                <h3>Redes Sociales:</h3>
                <div class="fb-page ubicacion" data-href="https://www.facebook.com/Gestorapublicabolivia"
                    data-tabs="timeline" data-width="" data-height="" data-small-header="false"
                    data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a
                            href="https://www.facebook.com/Gestorapublicabolivia">Facebook</a></blockquote>
                </div>
            </div>
        </div>
    </div>


    <section class="footer-social-section flex-rw">
        <span class="footer-social-overlap footer-social-connect"> <img src="../../assets/logos/GESTORABLANCA.png"
                alt="No se encontro la imagen " class="logoGestora">
            <span class="footer-social-small">con</span> <img src="../../assets/images/Bolivia.png"
                alt="Img no encontrada" class="LogoBol">
        </span>

        <span class="footer-social-overlap footer-social-icons-wrapper">
            <a href="https://www.facebook.com/paviliongift" class="generic-anchor" target="_blank" title="Facebook"
                itemprop="significantLink"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/PavilionGiftCo" class="generic-anchor" target="_blank" title="Twitter"
                itemprop="significantLink"><i class="fa fa-twitter"></i></a>
            <a href="http://instagram.com/paviliongiftcompany" class="generic-anchor" target="_blank" title="Instagram"
                itemprop="significantLink"><i class="fa fa-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCYgUODvd0qXbu_LkUWpTVEg" class="generic-anchor" target="_blank"
                title="Youtube" itemprop="significantLink"><i class="fa fa-youtube"></i></a>
        </span>
    </section>
    <section class="footer-bottom-section flex-rw">
        <div class="footer-bottom-wrapper">
            <i class="fa fa-copyright" role="copyright">

            </i> 2021 La Paz Bolivia <address class="footer-address" role="company address">Bergen, NY</address><span
                class="footer-bottom-rights"> - Derecho reservados - </span>
        </div>
        <div class="footer-bottom-wrapper">
            <a href="/terms-of-use.html" class="generic-anchor" rel="nofollow">Terms</a> | <a
                href="/privacy-policy.html" class="generic-anchor" rel="nofollow">Privacy</a>
        </div>
    </section>
</footer> -->



<footer>
    <br>
    <div class="container">
        <h1 class="redes">Redes Sociales</h1>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <div class="cajaRedes">
                    <i class="fab fa-twitter iconosredes"></i><br>
                    <a class="twitter-timeline" data-width="500" data-height="700" data-theme="light"
                        href="https://twitter.com/GestoraDe?ref_src=twsrc%5Etfw">Tweets by GestoraDe</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cajaRedes">
                    <i class="fab fa-facebook iconosredes"></i><br>
                    <div class="fb-page" data-href="https://www.facebook.com/Gestorapublicabolivia"
                        data-tabs="timeline" data-width="500" data-height="700" data-small-header="false"
                        data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a
                                href="https://www.facebook.com/Gestorapublicabolivia">Facebook</a></blockquote>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="container-fluid foote">
        <div class="row">
            <div class="col-lg-4 imgFooter">
                <img src="../../assets/images/gestoraAzul.png" alt="">

            </div>
            <div class="col-lg-4">
                <div class="informacionFooter">
                    <h3>Dirección</h3>
                    <h4><i class="far fa-building"></i>Oficina Central La Paz</h4>
                    <p>Calle Reyes Ortiz, Edificio Gundlach - Torre Oeste</p>

                    <h4><i class="fas fa-house-user"></i>Atención al cliente Renta Dignida</h4>
                    <p>Batallón Colorados Edificio Tres Cruces N° 40,La Paz</p>
                    <h3>Contactos</h3>
                    <h4><i class="fas fa-phone-volume"></i>Telefono: (591-2) 218 8400</h4>
                    <h4><i class="fas fa-phone-alt"></i>Linea gratuita Renta Dignidad: 800-10-1610</h4>
                    <h4><i class="fas fa-envelope-open-text"></i>Correo: contacto@gestora.bo</h4>
                </div>

            </div>
            <div class="col-lg-4">
                <h3 class="redes" style="color: #003b77;">Encuentranos en:</h3>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d478.1841807569335!2d-68.131469!3d-16.502179!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfbab45ced6f87950!2sGestora%20P%C3%BAblica%20de%20la%20Seguridad%20Social%20de%20Largo%20Plazo!5e0!3m2!1ses!2sbo!4v1637120387116!5m2!1ses!2sbo"
                    class="ubicacion" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

            </div>
        </div>

        <br>
    </div>
    <br>
</footer>