<body>
  <app-navbar></app-navbar>

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <!--  *ngFor="let item of photosCarrusel" -->
            <div class="carousel-item active">
              <img src="../../assets/carrusel/imgbaner1.jpg" class="d-block w-100" alt="">
              <div class="carousel-caption d-none d-md-block">
                <h5>titulo</h5>
                <p>Titulo 1</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/carrusel/imgbaner2.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Titulo 2</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/carrusel/imgbaner3.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Titulo 3</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-lg-6">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, similique, ipsum omnis fuga tempore corporis iure cum consequuntur ratione laborum sapiente ut quibusdam ad! Dignissimos incidunt debitis quaerat voluptas dolorem.
          Fugiat saepe eos, magni vitae rerum culpa animi perferendis possimus, quis in officiis! Quia odio dignissimos dolorum ipsam eius nam, non laudantium, sit quasi accusantium delectus eligendi fugit natus nostrum.
          Maiores totam aperiam voluptate numquam accusamus quod, magni odit, laudantium consectetur dolore veniam! Ipsa quod cumque tempora, nesciunt non nisi at! Possimus atque praesentium vitae cupiditate earum nihil, sed quos?
          Temporibus earum qui commodi voluptatem sed odit asperiores! Eaque hic dolorum ratione, nemo ab odit perspiciatis blanditiis molestias, incidunt labore debitis rerum, mollitia nesciunt impedit nostrum officiis ullam pariatur assumenda!
          Possimus totam adipisci, unde aliquam laboriosam corporis provident rem obcaecati est vel voluptatibus. Consequatur eum ut, inventore veniam accusantium temporibus impedit necessitatibus mollitia iusto officia iste cupiditate in voluptates ex?
          Mollitia accusamus voluptatibus, tenetur nesciunt error sunt esse consequatur, neque eos hic illo incidunt porro dolor vel quisquam optio sit nostrum doloremque amet quibusdam dolorum! Quia quisquam dolorem iusto nulla.
          Vel quae accusamus distinctio saepe unde tempora eaque maxime et odit est, fugit debitis dicta cum quod voluptatibus! Dolorum laudantium illum cumque fugit magni quaerat eos repellat perferendis dolores vel?
          Inventore suscipit facere maiores magnam perferendis maxime labore reiciendis impedit odit laborum voluptates, nostrum nam et reprehenderit temporibus eaque, unde, veritatis doloribus vel non totam architecto. Sed natus doloribus fugiat?
         
          
        </p>
        
      </div>
    </div>
  </div>



</body>

<app-footer></app-footer> 