<div class="container animate__animated animate__fadeIn">
  <div class="row">
    <div class="col-md-12">
      <!--Para usar con un link-->
      <!-- <object class="pdfview" type="application/pdf" data="https://www.imaginanet.com/pdfinet/Dise%C3%B1o%20Responsive%20o%20Adaptativo.pdf"></object>
      <a class="btn btn-danger" href="https://www.imaginanet.com/pdfinet/Dise%C3%B1o%20Responsive%20o%20Adaptativo.pdf" download="documento">Descargar PDF</a>
     -->

      <!--Uso local-->
      <object data="../assets/PDFs/Informe.pdf" id="pdf" type="application/pdf" class="pdfview"></object>
      <!--    <div class="botonDer">
        <a
          class="btn btn-outline-info"
          href="../assets/PDFs/Informe.pdf"
          download="documento"
          ><i class="icoBoton"></i>Descargar PDF</a
        >
      </div> -->
      <div class="row">
        <div class="col-md-12" style="text-align: center; margin: 10px">
          <a class="botonF" type="submit" href="../assets/PDFs/Informe.pdf" download="documento"
            style="text-decoration: none;"><i class="fas fa-file-pdf"></i> DESCARGAR CERTIFICADO</a>
        </div>
      </div>
    </div>
  </div>
</div>