<div class="container animate__animated animate__fadeIn">
  <div class="row">
    <div class="col-md-12">
       <!--Para usar con un link-->
      <!-- <object class="pdfview" type="application/pdf" data="https://www.imaginanet.com/pdfinet/Dise%C3%B1o%20Responsive%20o%20Adaptativo.pdf"></object>
      <a class="btn btn-danger" href="https://www.imaginanet.com/pdfinet/Dise%C3%B1o%20Responsive%20o%20Adaptativo.pdf" download="documento">Descargar PDF</a>
     -->

      <!--Uso local-->
      <object
        data="../assets/PDFs/Informe.pdf"
        id="pdf"
        type="application/pdf"
        class="pdfview"
      ></object>
   <!--    <div class="botonDer">
        <a
          class="btn btn-outline-info"
          href="../assets/PDFs/Informe.pdf"
          download="documento"
          ><i class="icoBoton"></i>Descargar PDF</a
        >
      </div> -->
      <div class="row">
        <div class="col-md-12" style="text-align: center; margin: 10px">
          <a
            class="btn btn-outline-info"
            href="../assets/PDFs/Informe.pdf"
            download="documento"
          >
            Descargar PDF <i class="fas fa-file-pdf"></i>
          </a>
        </div>
      </div>
  <!--     <div class="col-md-2">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          dolorum, laboriosam modi sequi quis itaque maxime ex? Hic veniam
          debitis quam! At eos nostrum, corporis cumque quasi tenetur ad
          incidunt? Quo omnis expedita aspernatur veritatis cumque! Quae aliquid
          delectus deleniti nesciunt, saepe in reprehenderit minus ducimus
          aspernatur error cum consectetur laboriosam fuga nostrum dolor? Cum
          eaque voluptate eius quasi dolor. Similique eum suscipit accusamus
          voluptas expedita quo necessitatibus cumque voluptates quam totam
          rerum distinctio velit voluptatibus earum perferendis enim pariatur,
          aspernatur minima nam vitae recusandae ducimus repellat quisquam. Sed,
          nemo! Neque tempore, ad molestias odit perspiciatis et exercitationem
          veritatis, quia officiis hic sapiente ab ipsam cupiditate temporibus
          dignissimos placeat dolores iusto nemo inventore quidem in aut? Ipsam
          corrupti consectetur velit. Odio, tempore fugiat autem iste impedit
          cupiditate officia. Perferendis explicabo veritatis voluptatem rem hic
          deleniti illo nemo architecto, ducimus iure consequatur obcaecati eum
          molestiae repudiandae vitae alias cum quod voluptate! Illum distinctio
          nobis deserunt doloremque reprehenderit perspiciatis minima atque
          facilis odit! Error architecto corrupti impedit voluptate fuga tempore
          culpa laboriosam voluptas modi porro eveniet expedita ipsum vero,
          illum, voluptatum molestiae? Quasi commodi tempora officiis labore
          suscipit laborum sapiente? Quisquam nemo corporis recusandae, iusto
          numquam sint quae illo! Officiis esse odit in suscipit error inventore
          eaque nostrum perspiciatis quia, sequi asperiores? Voluptatibus
          perspiciatis consequuntur soluta, laborum autem animi dolores sequi,
          commodi iusto mollitia recusandae reiciendis quaerat esse numquam
          voluptates iste porro nulla sapiente similique. Esse officia modi
          quaerat, architecto illum eius? Nisi incidunt vero repellat
          consequatur beatae similique quisquam. Ea vel recusandae praesentium
          esse, adipisci fuga. Natus veritatis, laboriosam numquam magni laborum
          enim accusamus deserunt id illum blanditiis aspernatur pariatur ipsam!
          Voluptatibus nisi molestias perferendis officia aspernatur! Vero amet
          nulla perferendis, accusantium repellat expedita fugiat at. Labore
          quam quod dolor. Et, fuga error? Laudantium nulla similique voluptates
          earum dolores minima sint! Nihil, culpa aperiam! Totam eius, molestiae
          corporis vitae dolorem accusamus repellendus omnis nulla eligendi,
          libero, nesciunt vel doloribus soluta perferendis fugiat officia
          repellat provident sunt. Obcaecati nulla natus expedita harum. Atque
          veritatis autem ipsam, provident perspiciatis laborum porro distinctio
          voluptates ut consequuntur? Recusandae tenetur nemo atque, doloribus
          iure ea exercitationem. Repellat tempore deserunt consectetur illum
          facere voluptatem fugiat tempora ratione. Iusto veniam illum officiis
          aut dolor pariatur corrupti ex velit. Laborum eveniet repudiandae
          architecto amet cum repellat reprehenderit omnis dolores expedita sit
          ? Sit quo aliquam illum
          quasi impedit nostrum, veritatis, consequuntur libero quisquam
          delectus iste corporis.
        </p>
      </div> -->
    </div>
  </div>
</div>
