/* @import url(../../formularios/asegurados/f-registro-sip/f-registro-sip.component.css);*/
@import url(../../form-pruebas/form-pruebas.component.css); 
@import url(../../app.component.css);
.titulo {
  /* background: #003b77;
   */background: -webkit-radial-gradient(
    bottom right,
    rgba(11, 34, 109, 0.849),
    #0e6192
  );
  padding: 1px;
  border: 2px solid #00203d;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
}
.btn-danger:hover {
  background: white;
  color: #00203d;
  border-radius: 30px;
}
.btn-danger {
  background: rgba(180, 24, 24, 0.753);
  border-radius: 30px;
}
