@import url(../f-registro-empleador/f-registro-empleador.component.css);
@import url(../../../app.component.css);


/* div label{
    
    background: #f4f4f4;
        padding: 5px;
        margin-bottom: 6px;
        color: rgb(26, 13, 77);
        border-radius: 10px;
        font-size: 14px;
    
        text-indent: 3px;
        max-width: 90%;
      
}
 */