<app-navbar></app-navbar>

<div class="jumbotron jumbotron-fluid">
  <div class="container animate__animated animate__bounce">
    <h2 class="line">FORMULARIO DE REGISTRO DE CONSULTORES</h2>
    <br><br><br>
    <p class="lead">SISTEMA INTEGRAL DE PENSIONES - SIP</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <section class="">
        <div
          class="row animate__animated animate__backInLeft animate__delay-1s"
        >
          <label for="" class="label">
            <img
              class="imgLogo"
              src="../../assets/logos/logoPasos.png"
              alt="No se encontro el icono"
            />
            Siga los siguientes pasos para realizar su registro
          </label>
        </div>
      </section>

      <form
        [formGroup]="formConsu"
        (ngSubmit)="guardarDatosEmpleador($event)"
        class="needs-validation animate__animated animate__fadeInUp"
        novalidate
      >
        <!--Paso 1 Identificacion del empleador-->

        <div id="paso1" class="cajaBlanca">
          <div class="row">
            <div class="row titulo" style="margin-bottom: 10px">
              <div class="col-lg-2">
                <img
                  src="../../../../assets/PasosForms/paso1.png"
                  class="imgPasos"
                  alt="no se encontro la imagen"
                />
              </div>

              <div class="col-lg-10">
                <p class="">Datos generales</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2">
                <div class="form-group caja">
                  <label for="" class="">Fecha de presentación :</label>
                  <input
                    type="date"
                    class="form-control"
                    [class.is-success]="fechaPresentacionValido"
                    [class.is-danger]="fechaPresentacionInvalido"
                    formControlName="fechaPresentacion"
                  />
                  <small *ngIf="fechaPresentacionInvalido" class="rojo"
                    >* Este campo es requerido</small
                  >
                </div>
              </div>
              <div class="col-lg-2">
                <div
                  class="form-group caja"
                  [class.is-success]="docpresentadosValido"
                  [class.is-danger]="docpresentadosInvalido"
                >
                  <label> Documentos presentados</label>
                  <br />

                  <div class="form-check">
                    <label class="form-check-label" for="listImpr"
                      >Listado impreso</label
                    >
                    <input
                      class="form-check-input"
                      type="radio"
                      name="docpresentados"
                      id="listImpr"
                      value="Lista Impresa"
                      formControlName="docpresentados"
                    />
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="medioMagne"
                      >Medio magnético</label
                    >
                    <input
                      class="form-check-input"
                      type="radio"
                      name="docpresentados"
                      id="medioMagne"
                      value="Medio Magnético"
                      formControlName="docpresentados"
                    />
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="soloForm"
                      >Solo formulario</label
                    >
                    <input
                      class="form-check-input"
                      type="radio"
                      name="docpresentados"
                      id="soloForm"
                      value="Solo formulario"
                      formControlName="docpresentados"
                    />
                  </div>

                  <small *ngIf="docpresentadosInvalido" class="rojo"
                    >* Es necesario elegir un campo</small
                  >
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group caja">
                  <label for="" class="">Nro. de hojas adjuntas</label>
                  <input
                    type="number"
                    class="form-control"
                    [class.is-success]="nroHojasAdjuntasValido"
                    [class.is-danger]="nroHojasAdjuntasInvalido"
                    id=""
                    placeholder="0"
                    formControlName="nroHojasAdjuntas"
                  />
                  <small *ngIf="nroHojasAdjuntasInvalido" class="rojo"
                    >* Este campo es requerido</small
                  >
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group caja">
                  <label> Nro. de asegurados reportados</label>
                  <br />
                  <input
                    type="number"
                    class="form-control"
                    [class.is-success]="nroAseReportadosValido"
                    [class.is-danger]="nroAseReportadosInvalido"
                    id=""
                    placeholder="0"
                    formControlName="nroAseReportados"
                    name="nroAseReportados"
                  />
                  <small *ngIf="nroAseReportadosInvalido" class="rojo"
                    >* Es necesario elegir un campo</small
                  >
               
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group caja">
                  <label for="" class=""
                    >Se constituye agente de rentención</label
                  >
                  <div class="form-check">
                    <label class="form-check-label" for="si">SI</label>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="constituyaAgeReten"
                      id="si"
                      value="SI"
                      formControlName="constituyaAgeReten"
                    />
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="no">NO</label>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="constituyaAgeReten"
                      id="no"
                      value="NO"
                      formControlName="constituyaAgeReten"
                    />
                  </div>
                  <p style="background: white;">
                    SOLO PARA LAS ENTIDADES QUE PUEDEN OPTAR POR SER AGENTES DE
                    RENTENCIÓN
                  </p>
                  <small *ngIf="constituyaAgeRetenInvalido" class="rojo"
                    >* Es necesario llenar este campo</small
                  >
                </div>
              </div>
            </div>
          </div>
       
        </div>
        <!--Paso 2 Datos laboraleso-->
        <div id="paso2" class="cajaBlanca">
          <div class="row">
            <div class="row titulo">
              <div class="col-2">
                <img
                  src="../../../../assets/PasosForms/paso2.png"
                  class="imgPasos"
                  alt="no se encontro la imagen"
                />
              </div>
              <div class="col-10">
                <p class="">Datos del contratante</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <div
                  class="form-group caja"
                  [class.is-success]="tipoIdentificacionValido"
                  [class.is-danger]="tipoIdentificacionInvalido"
                >
                  <label> Tipo de identificación</label>
                  <br />
                  <div class="form-check">
                    <label class="form-check-label" for="nit">NIT</label>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="tipoIdentificacion"
                      id="nit"
                      value="nit"
                      formControlName="tipoIdentificacion"
                    />
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="SUP">SUP</label>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="tipoIdentificacion"
                      id="SUP"
                      value="SUP"
                      formControlName="tipoIdentificacion"
                    />
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="gob">GOB</label>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="tipoIdentificacion"
                      id="gob"
                      value="GOB"
                      formControlName="tipoIdentificacion"
                    />
                  </div>
                  <small *ngIf="tipoIdentificacionInvalido" class="rojo"
                    >* Es necesario elegir un campo</small
                  >
                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group caja">
                  <label for="" class=""> Numero de identificación:</label>
                  <div class="row">
                    <div class="col-lg-12 inlinee">
                      <input
                        type="number"
                        class="form-control"
                        [class.is-success]="nroIdentificacionValido"
                        [class.is-danger]="nroIdentificacionInvalido"
                        id=""
                        placeholder="Nro de identificación"
                        formControlName="nroIdentificacion"
                      />

                      <input
                        type="text"
                        class="form-control esp"
                        [class.is-success]="complementoValido"
                        [class.is-danger]="complementoInvalido"
                        id=""
                        placeholder="complemento"
                        formControlName="complementoRL"
                      />
                    </div>
                    <small *ngIf="nroIdentificacionInvalido" class="rojo"
                      >* Ingrese su numero de documento de identidad</small
                    >
                    <small *ngIf="complementoInvalido" class="rojo"
                      >* El campo debe tener minimo 2 caracteres</small
                    >
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group caja">
                  <label for="" class="">Codigo Unidad Ejecutora</label>
                  <input
                    type="text"
                    class="form-control"
                    [class.is-success]="codigoUnidadEjecutoraValido"
                    [class.is-danger]="codigoUnidadEjecutoraInvalido"
                    id=""
                    placeholder="Código unidad ejecutora"
                    formControlName="codigoUnidadEjecutora"
                  />
                  <small *ngIf="codigoUnidadEjecutoraInvalido" class="rojo"
                    >* Es necesario llenar este campo</small
                  >
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group caja">
                  <label for="" class=""
                    >Nombre y apellido o razon social</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    [class.is-success]="nomApeoRazonSocialValido"
                    [class.is-danger]="nomApeoRazonSocialInvalido"
                    formControlName="nomApeoRazonSocial"
                  />
                  <small *ngIf="nomApeoRazonSocialInvalido" class="rojo"
                    >* Este campo es requerido</small
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <div class="form-group caja">
                  <label for="" class="">Actividad económica</label>
                  <input
                    type="text"
                    class="form-control"
                    [class.is-success]="actividadEconoValido"
                    [class.is-danger]="actividadEconoInvalido"
                    id=""
                    placeholder="Activiad económica"
                    formControlName="actividadEcono"
                  />
                  <small *ngIf="actividadEconoInvalido" class="rojo"
                    >* Este campo es requerido</small
                  >
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group caja">
                  <label for="" class="">Departamento :</label>
                  <select
                    class="form-select"
                    [class.is-success]="departamentoValido"
                    [class.is-danger]="departamentoInvalido"
                    aria-label="Default select example"
                    formControlName="departamento"
                  >
                    <option selected disabled>Seleccione:</option>
                    <option value="1">La Paz</option>
                    <option value="2">Oruro</option>
                    <option value="3">Potosi</option>
                    <option value="4">Cochabamba</option>
                    <option value="5">Chuquisaca</option>
                    <option value="6">Tarija</option>
                    <option value="7">Pando</option>
                    <option value="8">Santa Cruz</option>
                    <option value="9">Beni</option>
                  </select>
                  <small *ngIf="departamentoInvalido" class="rojo"
                    >* Este campo es requerido</small
                  >
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group caja">
                  <label for="" class="">Provincia</label>
                  <input
                    type="text"
                    class="form-control"
                    [class.is-success]="provinciaValido"
                    [class.is-danger]="provinciaInvalido"
                    formControlName="provincia"
                  />
                  <small *ngIf="provinciaInvalido" class="rojo"
                    >* Es necesario llenar este campo</small
                  >
                </div>
              </div>
              <div class="col-lg-3">
                <div
                  class="form-group caja"
                  [class.is-success]="ciudadValido"
                  [class.is-danger]="ciudadInvalido"
                >
                  <label> Pertenece al ciudad</label>
                  <br />
                  <input
                    class="form-control"
                    type="text"
                    name="ciudad"
                    id="ciudad"
                    formControlName="ciudad"
                  />
                  <small *ngIf="ciudadInvalido" class="rojo"
                    >* Es necesario elegir un campo</small
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <div class="form-group caja">
                  <label> Zona o Barrio</label>
                  <br />
                  <input
                    type="text"
                    class="form-control"
                    [class.is-success]="zonaBarrioValido"
                    [class.is-danger]="zonaBarrioInvalido"
                    id=""
                    placeholder="Zona o barrio"
                    formControlName="zonaRL"
                    name="zonaRL"
                  />
                  <small *ngIf="zonaBarrioInvalido" class="rojo"
                    >* Es necesario elegir un campo</small
                  >
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group caja">
                  <label> Dirección</label>
                  <br />
                  <input
                    type="text"
                    class="form-control"
                    [class.is-success]="direccionValido"
                    [class.is-danger]="direccionInvalido"
                    id=""
                    placeholder="Dirección"
                    formControlName="direccion"
                    name="direccion"
                  />
                  <small *ngIf="direccionInvalido" class="rojo"
                    >* Es necesario elegir un campo</small
                  >
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group caja">
                  <label for="" class=""> Nro.Vivienda</label>
                  <input
                    type="number"
                    class="form-control"
                    [class.is-success]="nroViviendaValido"
                    [class.is-danger]="nroViviendaInvalido"
                    formControlName="nroVivienda"
                  />
                  <small *ngIf="nroViviendaInvalido" class="rojo"
                    >* Es necesario llenar este campo</small
                  >
                </div>
              </div>
              <div class="col-lg-3">
                <div
                  class="form-group caja"
                  [class.is-success]="referenciaValido"
                  [class.is-danger]="referenciaInvalido"
                >
                  <label> Referencia</label>
                  <br />
                  <input
                    class="form-control"
                    type="text"
                    name="referencia"
                    id="referencia"
                    formControlName="referencia"
                  />
                  <small *ngIf="referenciaInvalido" class="rojo"
                    >* Es necesario elegir un campo</small
                  >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-3">
                <div
                  class="form-group caja"
                  [class.is-success]="telefonoValido"
                  [class.is-danger]="telefonoInvalido"
                >
                  <label> Telefono</label>
                  <br />
                  <input
                    class="form-control"
                    type="number"
                    name="telefono"
                    id="telefono"
                    formControlName="telefono"
                  />
                </div>
                <small *ngIf="telefonoInvalido" class="rojo"
                  >* Es necesario elegir un campo</small
                >
              </div>
              <div class="col-lg-3">
                <div
                  class="form-group caja"
                  [class.is-success]="celularValido"
                  [class.is-danger]="celularInvalido"
                >
                  <label> Celular</label>
                  <br />
                  <input
                    class="form-control"
                    type="number"
                    name="celular"
                    id="celular"
                    formControlName="celular"
                  />
                </div>
                <small *ngIf="celularInvalido" class="rojo"
                  >* Es necesario elegir un campo</small
                >
              </div>
              <div class="col-lg-3">
                <div class="form-group caja">
                  <label for="" class="">Correo</label>
                  <input
                    type="email"
                    class="form-control"
                    [class.is-success]="correoValido"
                    [class.is-danger]="correoInvalido"
                    formControlName="correo"
                  />
                  <small *ngIf="correoInvalido" class="rojo"
                    >* Es necesario llenar este campo</small
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Paso 3 Representante legal-->
        <div id="paso3" class="cajaBlanca">
          <div class="row">
            <div class="row titulo">
              <div class="col-2">
                <img
                  src="../../../../assets/PasosForms/paso3.png"
                  class="imgPasos"
                  alt="no se encontro la imagen"
                />
              </div>
              <div class="col-10">
                <p class="">Datos del representante legal</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <div
                  class="form-group caja"
                  [class.is-success]="tipoIdentificacionRLValido"
                  [class.is-danger]="tipoIdentificacionRLInvalido"
                >
                  <label> Tipo de documento de identidad:</label>
                  <br />
                  <div class="form-check">
                    <label class="form-check-label" for="carnet">CI</label>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="tipoIdentificacionRL"
                      id="carnet"
                      value="carnet"
                      formControlName="tipoIdentificacionRL"
                    />
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="pas">PAS</label>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="tipoIdentificacionRL"
                      id="pas"
                      value="pasaporte"
                      formControlName="tipoIdentificacionRL"
                    />
                  </div>
                  <div class="form-check">
                    <label class="form-check-label" for="ce">CE</label>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="tipoIdentificacionRL"
                      id="ce"
                      value="CE"
                      formControlName="tipoIdentificacionRL"
                    />
                  </div>
                  <small *ngIf="tipoIdentificacionRLInvalido" class="rojo"
                    >* Es necesario elegir un campo</small
                  >
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group caja">
                  <label for="" class="">
                    Numero de documento de identidad :</label
                  >
                  <div class="row">
                    <div class="col-lg-12 inlinee">
                      <input
                        type="number"
                        class="form-control"
                        [class.is-success]="nroDocIdenRLValido"
                        [class.is-danger]="nroDocIdenRLInvalido"
                        id=""
                        placeholder="Nro de identificación"
                        formControlName="nroDocIdenRL"
                      />

                      <input
                        type="text"
                        class="form-control esp"
                        [class.is-success]="complementoRLValido"
                        [class.is-danger]="complementoRLInvalido"
                        id=""
                        placeholder="complemento"
                        formControlName="complementoRL"
                      />
                    </div>
                    <small *ngIf="nroDocIdenRLInvalido" class="rojo"
                      >* Ingrese su numero de documento de identidad</small
                    >
                    <small *ngIf="complementoRLInvalido" class="rojo"
                      >* El campo debe tener minimo 2 caracteres</small
                    >
                  </div>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group caja">
                  <label for="" class="">Primer nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    [class.is-success]="priNombreRLValido"
                    [class.is-danger]="priNombreRLInvalido"
                    id=""
                    placeholder="Primer nombre"
                    formControlName="priNombreRL"
                  />
                  <small *ngIf="priNombreRLInvalido" class="rojo"
                    >* Es necesario llenar este campo</small
                  >
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group caja">
                  <label for="" class="">Segundo nombre :</label>
                  <input
                    type="text"
                    class="form-control"
                    [class.is-success]="segNombreRLValido"
                    [class.is-danger]="segNombreRLInvalido"
                    id=""
                    placeholder="Segundo nombre"
                    formControlName="segNombreRL"
                  />
                  <small *ngIf="segNombreRLInvalido" class="rojo"
                    >* Es necesario llenar este campo</small
                  >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-3">
                <div class="form-group caja">
                  <label for="" class="">Primer Apellido :</label>
                  <input
                    type="text"
                    class="form-control"
                    [class.is-success]="priApellidoRLValido"
                    [class.is-danger]="priApellidoRLInvalido"
                    id=""
                    placeholder="Primer Apellido"
                    formControlName="priApellidoRL"
                  />
                  <small *ngIf="priApellidoRLInvalido" class="rojo"
                    >* Es necesario llenar este campo</small
                  >
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group caja">
                  <label for="" class="">Segundo apellido :</label>
                  <input
                    type="text"
                    class="form-control"
                    [class.is-success]="segApellidoRLValido"
                    [class.is-danger]="segApellidoRLInvalido"
                    id=""
                    placeholder="Segundo Apeliido"
                    formControlName="segApellidoRL"
                  />
                  <small *ngIf="segApellidoRLInvalido" class="rojo"
                    >* Es necesario llenar este campo</small
                  >
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group caja">
                  <label for="" class="">Apellido Casada :</label>
                  <input
                    type="text"
                    class="form-control"
                    [class.is-success]="apeCasadaRLValido"
                    [class.is-danger]="apeCasadaRLInvalido"
                    id=""
                    placeholder="Ap. Casada"
                    formControlName="apeCasadaRL"
                  />
                </div>
              </div>




















              <div class="col-lg-3">
                <div class="form-group caja">
                  <label for="" class="">Departamento :</label>
                  <select
                    class="form-select"
                    [class.is-success]="departamentoRLValido"
                    [class.is-danger]="departamentoRLInvalido"
                    aria-label="Default select example"
                    formControlName="departamentoRL"
                  >
                    <option selected disabled>Seleccione:</option>
                    <option value="1">La Paz</option>
                    <option value="2">Oruro</option>
                    <option value="3">Potosi</option>
                    <option value="4">Cochabamba</option>
                    <option value="5">Chuquisaca</option>
                    <option value="6">Tarija</option>
                    <option value="7">Pando</option>
                    <option value="8">Santa Cruz</option>
                    <option value="9">Beni</option>
                  </select>
                  <small *ngIf="departamentoRLInvalido" class="rojo"
                    >* Este campo es requerido</small
                  >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-3">
                <div class="form-group caja">
                  <label for="" class="">Provincia</label>
                  <input
                    type="text"
                    class="form-control"
                    [class.is-success]="provinciaRLValido"
                    [class.is-danger]="provinciaRLInvalido"
                    formControlName="provinciaRL"
                  />
                  <small *ngIf="provinciaRLInvalido" class="rojo"
                    >* Es necesario llenar este campo</small
                  >
                </div>
              </div>
              <div class="col-lg-3">
                <div
                  class="form-group caja"
                  [class.is-success]="ciudadRLValido"
                  [class.is-danger]="ciudadRLInvalido"
                >
                  <label> Pertenece al ciudad</label>
                  <br />
                  <input
                    class="form-control"
                    type="text"
                    name="ciudadRL"
                    id="ciudadRep"
                    formControlName="ciudadRL"
                  />
                  <small *ngIf="ciudadRLInvalido" class="rojo"
                    >* Es necesario elegir un campo</small
                  >
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group caja">
                  <label> Zona o Barrio</label>
                  <br />
                  <input
                    type="text"
                    class="form-control"
                    [class.is-success]="zonaRLValido"
                    [class.is-danger]="zonaRLInvalido"
                    id=""
                    placeholder="Zona o barrio"
                    formControlName="provinciaRL"
                    name="provinciaRL"
                  />
                  <small *ngIf="zonaRLInvalido" class="rojo"
                    >* Es necesario elegir un campo</small
                  >
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group caja">
                  <label> Dirección</label>
                  <br />
                  <input
                    type="text"
                    class="form-control"
                    [class.is-success]="direccionRLValido"
                    [class.is-danger]="direccionRLInvalido"
                    id=""
                    placeholder="Dirección"
                    formControlName="direccionRL"
                    name="direccionRL"
                  />
                  <small *ngIf="direccionRLInvalido" class="rojo"
                    >* Es necesario elegir un campo</small
                  >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-3">
                <div class="form-group caja">
                  <label for="" class=""> Nro.Vivienda</label>
                  <input
                    type="number"
                    class="form-control"
                    [class.is-success]="nroViviendaRLValido"
                    [class.is-danger]="nroViviendaRLInvalido"
                    formControlName="nroViviendaRL"
                  />
                  <small *ngIf="nroViviendaRLInvalido" class="rojo"
                    >* Es necesario llenar este campo</small
                  >
                </div>
              </div>
              <div class="col-lg-3">
                <div
                  class="form-group caja"
                  [class.is-success]="referenciaRLValido"
                  [class.is-danger]="referenciaRLInvalido"
                >
                  <label> Referencia</label>
                  <br />
                  <input
                    class="form-control"
                    type="text"
                    name="referenciaRL"
                    id="referenciaRL"
                    formControlName="referenciaRL"
                  />
                  <small *ngIf="referenciaRLInvalido" class="rojo"
                    >* Es necesario elegir un campo</small
                  >
                </div>
              </div>
              <div class="col-lg-3">
                <div
                  class="form-group caja"
                  [class.is-success]="telefonoRLValido"
                  [class.is-danger]="telefonoRLInvalido"
                >
                  <label> Telefono</label>
                  <br />
                  <input
                    class="form-control"
                    type="number"
                    name="telefonoRL"
                    id="telefonoRL"
                    formControlName="telefonoRL"
                  />
                </div>
                <small *ngIf="telefonoRLInvalido" class="rojo"
                  >* Es necesario elegir un campo</small
                >
              </div>
              <div class="col-lg-3">
                <div
                  class="form-group caja"
                  [class.is-success]="celularRLValido"
                  [class.is-danger]="celularRLInvalido"
                >
                  <label> Celular</label>
                  <br />
                  <input
                    class="form-control"
                    type="number"
                    name="celularRL"
                    id="celularRL"
                    formControlName="celularRL"
                  />
                </div>
                <small *ngIf="celularRLInvalido" class="rojo"
                  >* Es necesario elegir un campo</small
                >
              </div>
              <div class="col-lg-3">
                <div class="form-group caja">
                  <label for="" class="">Correo</label>
                  <input
                    type="email"
                    class="form-control"
                    [class.is-success]="correoRLValido"
                    [class.is-danger]="correoRLInvalido"
                    formControlName="correoRL"
                  />
                  <small *ngIf="correoRLValido" class="rojo"
                    >* Es necesario llenar este campo</small
                  >
                </div>
              </div>
            </div>
           
          </div>
        </div>
        <div class="btnA">
          <button
            class="btn btn-outline-info"
            (click)="guardarDatosEmpleador($event)"
          >
          <i class="fas fa-paper-plane"></i>
            enviar <img src="../../assets/logos/sig.png" class="imgLogo" />
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<br /><br /><br /><br /><br />
<!-- 
<app-footer></app-footer> -->
