/* Imagenes  */
.imgLogo {
  width: 35px;
  height: 35px;
}
.imgLogoMenu {
  width: 35px;
  height: 35px;
}
.imgLogoMenu:hover {
  background: #00ffff;
  color: aliceblue;
  border-radius: 5px;
}
.imgImagenInicio img {
  display: block;
  width: 350px;
  height: 130px;
  display: block;
  margin: auto;
}
.imgTituloNavVar {
  width: 200px;
  height: 60px;
}
/* FIN imagenes*/
.menuNavBar {
  background: -webkit-radial-gradient(
    bottom right,
    rgba(11, 34, 109, 0.849),
    #0e6192
  );
  margin: 2px solid black !important;
  border-radius: 10px;
  border: 2px solid black;
}
li a {
  color: white !important;
  font-size: 17px;
  border: 1px solid rgba(11, 34, 109, 0);
  padding-left: 10px;
  font-weight: 600;
}
li a:hover {
  color: #9dcfda !important;
  background: #00203d;
  border: 1px solid #9dcfda;
  transform: translateY(-6px);
  border-radius: 20px;
}

ul .dropdown-menu-dark {
  background: -webkit-radial-gradient(
    bottom right,
    rgba(11, 34, 109, 0.994),
    #0e6192
  );
  font-weight: 700;
  width: 450px;
}
a {
  cursor: pointer;
}
ul li ul li {
  padding: 6px;
  cursor: pointer;

  font-size: 18px;
  transform: translateX(10px);
  border-radius: 20px;
} 

/* ul li ul li:hover {
  border-right: 3px solid#1c3566;
  border-radius: 5px;
} */

/***************************Hover**********************/
/* 
.notifica {
  width: 40px !important;
  height: 40px !important;
  margin: auto;
}
.perfil {
  display: flex;
  align-items: center;
  color: #0dd5f0;
}
 */
