<app-navbar></app-navbar>

<div class="jumbotron jumbotron-fluid">
  <div class="container animate__animated animate__bounce">
    <h2 class="line">CONTROL DE PERIODOS NO PAGADOS</h2>
    <br><br>
    <h3 class="line">(MORA ASEGURADO)</h3>
    <br><br>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
     
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <!-- <div class="row" style="text-align: center; margin: 10px">
        <div class="col-md-6" style="border: 2px solid #fff">
          <a
            class="btn btn-outline-info"
            href="../assets/PDFs/Informe.pdf"
            download="documento"
          >
            Generar PDF <i class="fas fa-file-pdf"></i>
          </a>
        </div>
        <div class="col-md-6" style="border: 2px solid #fff">
          <a class="btn btn-outline-info" (click)="redirigir('index')">
            Inicio <i class="fas fa-home"></i>
          </a>
        </div>
      </div> -->
      
  </div>
  <div class="col-md-6">
    <object
      data="../assets/PDFs/Informe.pdf"
      id="pdf"
      type="application/pdf"
      class="pdfview"
    ></object>
  </div>
</div>
