@import url("../../../app.component.css");

.pdfview {
    /* Centrado */
    margin: auto;
    display: block;
    /* Tamaño */
    width: 90%;
    height: 70vh;
    /* Mejorar aspecto */
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid #00ffff;
}