<app-navbar></app-navbar>

<div class="jumbotron jumbotron-fluid">
  <div class="container animate__animated animate__bounce">
    <h3 class="line">FORMULARIO DE REGISTRO</h3>
    <p class="lead h2">SISTEMA INTEGRAL DE PENSIONES - SIP</p>
  </div>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col">
      <div class="shadow-lg p-3 mb-5 mt-4 bg-body rounded">
        <div class="p-3 mb-2 bg-primary bg-gradient fw-bold text-white">
          Formulario
        </div>
        <form class="row g-3 needs-validation" novalidate>
          <div class="col-md-4">
            <label for="nombre" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              value="Juan Pablo"
              required
            />
            <div class="valid-feedback">¡Campo válido!</div>
            <div class="invalid-feedback">Debe completar los datos.</div>
          </div>
          <div class="col-md-4">
            <label for="apellido" class="form-label">Apellido</label>
            <input
              type="text"
              class="form-control"
              id="apellido"
              value=""
              required
            />
                     <div class="valid-feedback">¡Campo válido!</div>
            <div class="invalid-feedback">Debe completar los datos.</div>
          </div>
          <div class="col-md-3">
            <label for="pais" class="form-label">País</label>
            <select class="form-select" id="pais" required>
              <option selected disabled value="">Seleccione...</option>
              <option>México</option>
              <option>Colombia</option>
              <option>Perú</option>
              <option>Chile</option>
              <option>Argentina</option>
            </select>
            <div class="valid-feedback">¡Campo válido!</div>
            <div class="invalid-feedback">Debe completar los datos.</div>
          </div>
          <div class="btnA">
            <button
              class="btn btn-outline-info"
              onclick="validar()"
              type="submit"
            >
              <i class="fa fa-send"></i>
              enviar <img src="../../assets/logos/sig.png" class="imgLogo" />
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <section class="">
        <div
          class="row animate__animated animate__backInLeft animate__delay-1s"
        >
          <label for="" class="label">
            <img
              class="imgLogo"
              src="../../assets/logos/logoPasos.png"
              alt="No se encontro el icono"
            />
            Siga los siguientes pasos para realizar su registro
          </label>
        </div>
      </section>

      <form
        [formGroup]="form"
        (ngSubmit)="guardarDatos($event)"
        class="needs-validation"
        novalidate
      >
        <!--Paso 1 Identificacion de asegurado-->

        <div id="paso1" class="cajaBlanca">
          <div class="row">
            <div class="row texto">
              <div class="col-12">
                <p class="">Identificacion del asegurado</p>
              </div>
            </div>
            <div class="col-md-3">
              <div
                class="form-group caja"
                [class.is-success]="tipoTrabajadorValido"
                [class.is-danger]="tipoTrabajadorInvalido"
              >
                <label> Tipo de trabajador</label>
                <br />

                <div class="form-check">
                  <label class="form-check-label" for="Tdependiente"
                    >Dependiente</label
                  >
                  <input
                    class="form-check-input"
                    type="radio"
                    name="tipoTrabajador"
                    id="Tdependiente"
                    value="Dependiente"
                    formControlName="tipoTrabajador"
                    required
                  />
                </div>
                <div class="form-check">
                  <label class="form-check-label" for="Tindependiente"
                    >Independiente</label
                  >
                  <input
                    class="form-check-input"
                    type="radio"
                    name="tipoTrabajador"
                    id="Tindependiente"
                    value="Independiente"
                    formControlName="tipoTrabajador"
                    required
                  />
                </div>
                <div class="form-check">
                  <label class="form-check-label" for="Tconsultor"
                    >Consultor</label
                  >
                  <input
                    class="form-check-input"
                    type="radio"
                    name="tipoTrabajador"
                    id="Tconsultor"
                    value="Consultor"
                    formControlName="tipoTrabajador"
                    required
                  />
                </div>
                <small *ngIf="tipoTrabajadorInvalido" class="rojo"
                  >* Es necesario elegir un campo</small
                >
              </div>
            </div>
            <div class="col-md-3">
              <div
                class="form-group caja"
                [class.is-success]="docIdentValido"
                [class.is-danger]="docIdentInvalido"
              >
                <label> Tipo de documento de identidad:</label>
                <br />
                <div class="form-check">
                  <label class="form-check-label" for="inlineRadio1">CI</label>
                  <input
                    class="form-check-input"
                    type="radio"
                    name="docIdent"
                    id="inlineRadio1"
                    value="carnet"
                    formControlName="docIdent"
                  />
                </div>
                <div class="form-check">
                  <label class="form-check-label" for="inlineRadio2">PAS</label>
                  <input
                    class="form-check-input"
                    type="radio"
                    name="docIdent"
                    id="inlineRadio2"
                    value="pasaporte"
                    formControlName="docIdent"
                  />
                </div>
                <div class="form-check">
                  <label class="form-check-label" for="inlineRadio3">CE</label>
                  <input
                    class="form-check-input"
                    type="radio"
                    name="docIdent"
                    id="inlineRadio3"
                    value="CE"
                    formControlName="docIdent"
                  />
                </div>
                <small *ngIf="docIdentInvalido" class="rojo"
                  >* Es necesario elegir un campo</small
                >
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group caja">
                <label for="" class="">
                  Numero de documento de identidad :</label
                >
                <div class="row">
                  <div class="col-md-12 inlinee">
                    <input
                      type="number"
                      class="form-control"
                      [class.is-success]="nroDocIdentidadValido"
                      [class.is-danger]="nroDocIdentidadInvalido"
                      id=""
                      placeholder="Nro de identificación"
                      formControlName="nroDocIdentidad"
                      value="6532123"
                    />

                    <input
                      type="text"
                      class="form-control esp"
                      [class.is-success]="complementoValido"
                      [class.is-danger]="complementoInvalido"
                      id=""
                      placeholder="complemento"
                      formControlName="complemento"
                      required
                    />
                  </div>
                  <small *ngIf="nroDocIdentidadInvalido" class="rojo"
                    >* Ingrese su numero de documento de identidad</small
                  >
                  <small *ngIf="complementoInvalido" class="rojo"
                    >* El campo debe tener minimo 2 caracteres</small
                  >
                </div>
              </div>
            </div>
            <!--Ejemplo 1 del form group-->
            <!--   <div class="col-md-3">
                            <div class="form-group  caja">
                                <label for="" class="">Primer nombre :</label>
                                <input type="text" class="form-control" id="" placeholder="Primer nombre"
                                    [formControl]="nombreA" />
                                <p *ngIf="nombreA.hasError && nombreA.dirty">
                                    <small *ngIf="nombreA.hasError('required') && nombreA.dirty">* Es necesario llenar
                                        este campo</small>
                                    <small *ngIf="nombreA.hasError('maxlength') && nombreA.dirty">* Es debe tener maximo 20 caracteres</small>
                                    <small *ngIf="nombreA.hasError('minlength') && nombreA.dirty">* Es debe tener minimo 5 caracteres</small>
                                </p>
                            </div>
                        </div> -->
            <div class="col-md-3">
              <div class="form-group caja">
                <label for="" class="">Primer nombre :</label>
                <input
                  type="text"
                  class="form-control"
                  [class.is-success]="pnombregValido"
                  [class.is-danger]="pnombregInvalido"
                  id=""
                  placeholder="Primer nombre"
                  value="Juan"
                  formControlName="pnombre"
                />
                <p>{{ pnombregValido }}</p>
                <small *ngIf="pnombregInvalido" class="rojo"
                  >* Es necesario llenar este campo</small
                >
                <!--<p *ngIf="nombreA.hasError && nombreA.dirty">
                                    <small *ngIf="nombreA.hasError('required') && nombreA.dirty">* Es necesario llenar
                                        este campo</small>
                                    <small *ngIf="nombreA.hasError('maxlength') && nombreA.dirty">* Es debe tener maximo 20 caracteres</small>
                                    <small *ngIf="nombreA.hasError('minlength') && nombreA.dirty">* Es debe tener minimo 5 caracteres</small>
                                </p> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group caja">
                <label for="" class="">Segundo nombre :</label>
                <input
                  type="text"
                  class="form-control"
                  [class.is-success]="snombreValido"
                  [class.is-danger]="snombreInvalido"
                  id=""
                  placeholder="Segundo nombre"
                  value="Pablo"
                  formControlName="snombre"
                />
                <small *ngIf="snombreInvalido" class="rojo"
                  >* Es necesario llenar este campo</small
                >
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group caja">
                <label for="" class="">Primer Apellido :</label>
                <input
                  type="text"
                  class="form-control"
                  [class.is-success]="APaternoValido"
                  [class.is-danger]="APaternoInvalido"
                  id=""
                  placeholder="Primer Apellido"
                  value="Mamani"
                  formControlName="APaterno"
                />
                <small *ngIf="APaternoInvalido" class="rojo"
                  >* Es necesario llenar este campo</small
                >
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group caja">
                <label for="" class="">Segundo apellido :</label>
                <input
                  type="text"
                  class="form-control"
                  [class.is-success]="AMaternoValido"
                  [class.is-danger]="AMaternoInvalido"
                  id=""
                  placeholder="Segundo Apeliido"
                  value="Torrez"
                  formControlName="AMaterno"
                />
                <small *ngIf="AMaternoInvalido" class="rojo"
                  >* Es necesario llenar este campo</small
                >
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group caja">
                <label for="" class="">Apellido Casada :</label>
                <input
                  type="text"
                  class="form-control"
                  [class.is-success]="ACasadaValido"
                  [class.is-danger]="ACasadaInvalido"
                  id=""
                  placeholder="Ap. Casada"
                  value="Juan Pablo"
                  formControlName="ACasada"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group caja">
                <label for="" class="">Fecha de nacimiento :</label>
                <input
                  type="date"
                  class="form-control"
                  [class.is-success]="fechaNacimientoValido"
                  [class.is-danger]="fechaNacimientoInvalido"
                  formControlName="fechaNacimiento"
                />
                <small *ngIf="fechaNacimientoInvalido" class="rojo"
                  >* Este campo es requerido</small
                >
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group caja">
                <label for="" class="">Nacionalidad :</label>
                <select
                  class="form-select"
                  [class.is-success]="nacionalidadValido"
                  [class.is-danger]="nacionalidadInvalido"
                  aria-label="Default select example"
                  formControlName="nacionalidad"
                >
                  <option selected disabled>Seleccione:</option>
                  <option value="1">Bolivia</option>
                  <option value="2">Argentina</option>
                  <option value="3">Chile</option>
                </select>
                <small *ngIf="nacionalidadInvalido" class="rojo"
                  >* Este campo es requerido</small
                >
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group caja">
                <label for="" class="">Genero :</label>
                <select
                  class="form-select"
                  [class.is-success]="generoValido"
                  [class.is-danger]="generoInvalido"
                  aria-label="Default select example"
                  formControlName="genero"
                >
                  <option selected disabled>Seleccione:</option>
                  <option value="1">Femenino</option>
                  <option value="2">Masculino</option>
                  <option value="3">Otros</option>
                </select>
                <small *ngIf="generoInvalido" class="rojo"
                  >* Este campo es requerido</small
                >
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group caja">
                <label for="" class="">Departamento :</label>
                <select
                  class="form-select"
                  [class.is-success]="departamentoValido"
                  [class.is-danger]="departamentoInvalido"
                  aria-label="Default select example"
                  formControlName="departamento"
                >
                  <option selected disabled>Seleccione:</option>
                  <option value="1">La Paz</option>
                  <option value="2">Oruro</option>
                  <option value="3">Potosi</option>
                  <option value="4">Cochabamba</option>
                  <option value="5">Chuquisaca</option>
                  <option value="6">Tarija</option>
                  <option value="7">Pando</option>
                  <option value="8">Santa Cruz</option>
                  <option value="9">Beni</option>
                </select>
                <small *ngIf="departamentoInvalido" class="rojo"
                  >* Este campo es requerido</small
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group caja">
                <label for="" class="">Zona :</label>
                <input
                  type="text"
                  class="form-control"
                  [class.is-success]="zonaValido"
                  [class.is-danger]="zonaInvalido"
                  id=""
                  placeholder="Zona"
                  formControlName="zona"
                  value="Viila Adela"
                />
                <small *ngIf="zonaInvalido" class="rojo"
                  >* Este campo es requerido</small
                >
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group caja">
                <label for="" class="">Dirección :</label>
                <input
                  type="text"
                  class="form-control"
                  [class.is-success]="direccionValido"
                  [class.is-danger]="direccionInvalido"
                  id=""
                  placeholder="Dirección"
                  value="Calle 5"
                  formControlName="direccion"
                />
                <small *ngIf="direccionInvalido" class="rojo"
                  >* Este campo es requerido</small
                >
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group caja">
                <label for="" class="">Nro. Vivienda :</label>
                <input
                  type="number"
                  class="form-control"
                  [class.is-success]="nroViviendaValido"
                  [class.is-danger]="nroViviendaInvalido"
                  id=""
                  placeholder="0"
                  formControlName="nroVivienda"
                  value="524"
                />
                <small *ngIf="nroViviendaInvalido" class="rojo"
                  >* Este campo es requerido</small
                >
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group caja">
                <label for="" class="">Referencia :</label>
                <input
                  type="text"
                  class="form-control"
                  [class.is-success]="referenciaValido"
                  [class.is-danger]="referenciaInvalido"
                  id=""
                  placeholder="Zona"
                  formControlName="referencia"
                  value="Hospital 1"
                />
                <small *ngIf="referenciaInvalido" class="rojo"
                  >* Este campo es requerido</small
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group caja">
                <label for="" class="">Correo electrónico :</label>
                <input
                  type="email"
                  class="form-control"
                  [class.is-success]="emailValido"
                  [class.is-danger]="emailInvalido"
                  id=""
                  placeholder="ejemplo@gmail.com"
                  formControlName="email"
                />
                <small *ngIf="emailInvalido" class="rojo"
                  >* Este campo es requerido</small
                >
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group caja">
                <label for="" class="">Celular :</label>
                <input
                  type="number"
                  class="form-control"
                  [class.is-success]="celularValido"
                  [class.is-danger]="celularInvalido"
                  id=""
                  placeholder="666-666-66"
                  formControlName="celular"
                />
                <small *ngIf="celularInvalido" class="rojo"
                  >* Este campo es requerido y debe tener 8 caracteres</small
                >
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group caja">
                <label for="" class="">Teléfono fijo :</label>
                <input
                  type="number"
                  class="form-control"
                  [class.is-success]="telefonoValido"
                  [class.is-danger]="telefonoInvalido"
                  id=""
                  placeholder="2-222-2222"
                  formControlName="telefono"
                />
                <small *ngIf="telefonoInvalido" class="rojo"
                  >* Este campo es requerido y debe tener 8 caracteres</small
                >
              </div>
            </div>
          </div>
          <div class="row caja">
            <div class="col-md-8">
              <p class="label">
                <strong>AUTORIZACIÓN USO DE MEDIOS ELECTRÓNICOS:</strong>
                El asegurado acepta y autoriza de manera expresa que la Gestora
                envíe notificaciones, estados de ahorro y demás comunicaciones
                relacionadas con sus trámites y/o solicitudes a través de
                técnicas y medios electrónicos, informáticos y telemáticos
                (incluye correo electrónico, página web y mensaje móvil).
              </p>
            </div>
            <div
              class="col-md-4 cen"
              [class.is-success]="autorizacionValido"
              [class.is-danger]="autorizacionValido"
            >
              <div class="form-check-inline sino">
                &nbsp;
                <div class="form-check">
                  <label class="form-check-label" for="Tdependiente">SI</label>
                  <input
                    class="form-check-input"
                    type="radio"
                    name="autorizacion"
                    id="Tdependiente"
                    value="Dependiente"
                    formControlName="autorizacion"
                  />
                </div>
                <div class="form-check">
                  <label class="form-check-label" for="Tindependiente"
                    >NO</label
                  >
                  <input
                    class="form-check-input"
                    type="radio"
                    name="autorizacion"
                    id="Tindependiente"
                    value="Independiente"
                    formControlName="autorizacion"
                  />
                </div>
                <small *ngIf="autorizacionInvalido" class="rojo"
                  >* Este campo es requerido</small
                >
              </div>
            </div>
          </div>
          <div class="row caja">
            <p class="label">
              En caso de ser negativo, seleccione el lugar para el envío de
              notificaciones físicas y demás comunicaciones.
            </p>
            <div class="form-check-inline">
              &nbsp;
              <input
                class="form-check-input"
                type="radio"
                name="radio"
                id="checkResidencia"
              />
              <label class="form-check-label" for="checkResidencia">
                &nbsp;Residencia&nbsp;&nbsp;&nbsp;
              </label>
              <input
                class="form-check-input"
                type="radio"
                name="radio"
                id="checkEmpleador"
                checked
              />
              <label class="form-check-label" for="checkEmpleador">
                &nbsp;Empleador
              </label>
            </div>
          </div>
        </div>
        <!--[disabled]="form.invalid" (click)="guardarDatos($event)"-->
        <div class="btnA">
          <button class="btn btn-outline-info" (click)="guardarDatos($event)">
            <i class="fa fa-send"></i>
            enviar <img src="../../assets/logos/sig.png" class="imgLogo" />
          </button>
        </div>

        <!--Paso 2 Derechohabientes-->

        <!-- <div id="paso2" [hidden]="mostrar_2" class=" cajaBlanca"> -->
        <div id="paso2" class="cajaBlanca">
          <div class="row texto">
            <div class="col-md-2">
              <img
                src="../../assets/PasosForms/paso2.png"
                class="imgPasos"
                alt="no se encontro la imagen"
              />
            </div>

            <div class="col-md-7">
              <p class="">Derechohabientes</p>
            </div>
            <div class="col-md-3">
              <a
                class="btn btn-outline-info"
                (click)="agregarDerechohabientes()"
              >
                Anadir <i class="fa fa-plus-circle"></i>
              </a>
            </div>
          </div>

          <div
            class="form-group animate__animated animate__fadeIn"
            formArrayName="derechohabientes"
            *ngFor="let derechohabiente of derechohabientes.controls;
              let i = index">
            <div [formGroupName]="i"]>
              <div class="row">
                <div class="col">
                  <h4 class="">Derechohabientes</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group caja">
                    <label for="" class="labelFormTitulo">Parentesco</label>
                    <div class="">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="tipoDeclaracion"
                          id="flexRadioDefault1"
                        />
                        <label class="form-check-label" for="flexRadioDefault1">
                          Conyuge
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="tipoDeclaracion"
                          id="flexRadioDefault2"
                          checked
                        />
                        <label class="form-check-label" for="flexRadioDefault2">
                          Hijo
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="tipoDeclaracion"
                          id="flexRadioDefault2"
                          checked
                        />
                        <label class="form-check-label" for="flexRadioDefault2">
                          Padre
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="tipoDeclaracion"
                          id="flexRadioDefault2"
                          checked
                        />
                        <label class="form-check-label" for="flexRadioDefault2">
                          Madre
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="tipoDeclaracion"
                          id="flexRadioDefault2"
                          checked
                        />
                        <label class="form-check-label" for="flexRadioDefault2">
                          Hermano
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group caja">
                    <label>Documento de identidad:</label>
                    <br />
                    <div class="form-check">
                      <label class="form-check-label" for="inlineRadio1"
                        >CI</label
                      >
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="inlineRadio1"
                        value="option1"
                      />
                    </div>
                    <div class="form-check">
                      <label class="form-check-label" for="inlineRadio2"
                        >PAS</label
                      >
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="inlineRadio2"
                        value="option2"
                      />
                    </div>
                    <div class="form-check">
                      <label class="form-check-label" for="inlineRadio3"
                        >CE</label
                      >
                      <input
                        class="form-check-input"
                        type="radio"
                        name="inlineRadioOptions"
                        id="inlineRadio3"
                        value="option3"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group caja">
                    <label for="" class="">
                      Numero de documento de identidad :</label
                    >
                    <div class="row">
                      <div class="col-md-12 inlinee">
                        <input
                          type="number"
                          class="form-control"
                          id=""
                          placeholder="Nro de identificación"
                        />
                        <input
                          type="text"
                          class="form-control esp"
                          id=""
                          placeholder="complemento"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group caja">
                    <label for="" class="">Primer nombre :</label>
                    <input
                      type="text"
                      class="form-control"
                      id=""
                      placeholder="Primer nombre"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group caja">
                    <label for="" class="">Segundo nombre :</label>
                    <input
                      type="text"
                      class="form-control"
                      id=""
                      placeholder="Segundo nombre"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group caja">
                    <label for="" class="">Primer Apellido :</label>
                    <input
                      type="text"
                      class="form-control"
                      id=""
                      placeholder="Primer Apellido"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group caja">
                    <label for="" class="">Segundo apellido :</label>
                    <input
                      type="text"
                      class="form-control"
                      id=""
                      placeholder="Segundo Apeliido"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group caja">
                    <label for="" class="">Apellido Casada :</label>
                    <input
                      type="text"
                      class="form-control"
                      id=""
                      placeholder="Ap. Casada"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group caja">
                    <label for="" class="">Genero :</label>
                    <select
                      class="form-select"
                      aria-label="Default select example"
                    >
                      <option selected>Seleccione:</option>
                      <option value="1">Femenino</option>
                      <option value="2">Masculino</option>
                      <option value="3">Otros</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group caja">
                    <label for="" class="">Fecha de nacimiento :</label>
                    <input type="date" class="form-control" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group caja">
                    <label for="" class="labelFormTitulo">CUA</label>
                    <div class="">
                      <input
                        type="text"
                        class="form-control"
                        id=""
                        placeholder="Código"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <button
                    class="btn btn-outline-info"
                    (click)="removerDerechohabiente(i)"
                  >
                    Remover
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Paso 3 Datos laboraleso-->

        <!--    <div id="paso3"class=" cajaBlanca">
                    <div class="row ">
                         Titulo Del paso
                        <div class="row texto">
                            <div class="col-2">
                                <img src="../../assets/PasosForms/paso3.png" class="imgPasos"
                                    alt="no se encontro la imagen" />
                            </div>

                            <div class="col-10">
                                <p class="">Datos laborales</p>
                            </div>
                        </div>

                        <div class="col-md-3 ">
                            <div class="form-group caja">
                                <label for="" class="">Profesión:</label>
                                <input type="text" class="form-control" id="" placeholder="Profesión" />
                            </div>
                        </div>

                        <div class="col-md-3 ">
                            <div class="form-group caja">
                                <label for="" class="">Ocupación:</label>
                                <input type="text" class="form-control" id="" placeholder="Ocupación" />
                            </div>
                        </div>

                        <div class="col-md-4 ">
                            <div class="form-group caja">
                                <label for="" class="">Fecha inicio relación laboral :</label>
                                <input type="date" class="form-control" />
                            </div>
                        </div>

                        <div class="col-md-2 ">
                            <div class="form-group caja">
                                <label for="" class="">Pertenece al sector :</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sector" id="sectorPublico" />
                                    <label class="form-check-label" for="sectorPublico">
                                        Publico
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="sector" id="sectorPrivado"
                                        checked />
                                    <label class="form-check-label" for="sectorPrivado">
                                        Privado
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
        <!-- Paso 4 Datos del empleador e inscripción cuenta de entidad financiera-->
        <!--     <div id="paso4" class=" cajaBlanca">
                    <div class="row ">
                        Titulo Del paso 
                        <div class="row texto">
                            <div class="col-2">
                                <img src="../../assets/PasosForms/paso4.png" class="imgPasos"
                                    alt="no se encontro la imagen" />
                            </div>

                            <div class="col-10">
                                <p class="">
                                    Datos del empleador e inscripción cuenta de entidad financiera
                                </p>
                            </div>
                        </div>
                        <h3>Datos del empleador</h3>
                        <div class="col-md-6">
                            <div class="form-group caja">

                                <label for="" class="">Tipo de identificación:</label>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="detipIden" id="empleNIT"
                                        checked />
                                    <label class="form-check-label" for="empleNIT"> NIT </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="detipIden" id="empleGOB"
                                        checked />
                                    <label class="form-check-label" for="empleGOB"> GOB </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="detipIden" id="empleSUP" />
                                    <label class="form-check-label" for="empleSUP"> SUP </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group caja">
                                <label for="" class="">Número de identificación:</label>
                                <input type="number" class="form-control" id="" placeholder="Nro identificación" />
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <h3>Inscripción cuenta de entidad financiera</h3>
                        <div class="col-md-6">
                            <div class="form-group caja">
                                <label for="" class="">Entidad financiera:</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Selecciona un EF</option>
                                    <option value="1">Banco Union</option>
                                    <option value="2">Banco Mercantil</option>
                                    <option value="3">Banco FIE</option>
                                    <option value="4">Ecofuturo</option>
                                    <option value="5">Cooperativa Santisima trinidad</option>
                                    <option value="6">Banco FIE</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group caja">
                                <label for="" class="">Número de cuenta:</label>
                                <input type="number" class="form-control" id="" placeholder="Nro de cuenta" />
                            </div>
                        </div>
                    </div>
                </div>
 -->
      </form>
    </div>
  </div>
</div>
<br /><br /><br /><br /><br />
<!-- 
<app-footer></app-footer> -->
